extends ../layout

block content

    a(href="/bicicletas/create") Nueva bicicleta

    table.table

        thead

            tr

                th(scope='col') #

                th(scope='col') Color

                th(scope='col') Modelo

                th(scope='col') Ubicación

        tbody

            each bici in bicis

                tr

                    td(scope='row')= bici.id

                    td= bici.color

                    td= bici.modelo

                    td= bici.ubicacion

                        form.inline(method='post' action='bicicletas/' + bici.id + '/delete')

                            input(type='hidden' name='id' value=bici.id)

                            button.link-button(type='submit' class='btn')

                                ='Eliminar'

                                
                        form.inline(method='get' action='bicicletas/' + bici.id + '/update')

                            input(type='hidden' name='id' value=bici.id)

                            button.link-button(type='submit' class='btn')

                                ='Actualizar'